<mat-toolbar style="background-color: #1693A5" class="mat-elevation-z8">
  <span class="logo">RECONECTANDO</span>

  <div class="spacer"></div>

  <button mat-button class="btn-nav-general" routerLink="/inicio">Inicio</button>
  <button mat-button class="btn-nav-general" routerLink="/usuarios">Usuario</button>
  <button mat-button class="btn-nav-general" routerLink="/personasdesaparecidas">Personas Desaparecidas</button>
  <button mat-button class="btn-nav-general" routerLink="/publicaciones">Publicaciones</button>
  <button mat-button class="btn-nav-general" routerLink="/comentarios">Comentarios</button>
  <button mat-button class="btn-nav-general" routerLink="/categorias">Categorías</button>
</mat-toolbar>
