.button-update {
  background-color: #7ECECA;
  color: white;
}

.button-insert {
  background-color: #7ECECA !important;
  margin-bottom: 15px;
  color: white !important;
}

.form-comentario {
  padding: 40px;
}

.title-comentario-lista {
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
}
