<app-navbar></app-navbar>

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
  <title>Document</title>
</head>

<body>

  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/097/660/non_2x/missing-person-announcement-flyer-hanging-on-a-brick-wall-flat-illustration-vector.jpg"
      style="opacity: 0.4; height: 100%; width: auto;">
    <div>
      <p
        style="position: relative;z-index: top; font-family: Arial Black; font-size: 45px; color: black; text-align: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        ¿Conoces algún caso de desaparición y no sabes cómo ayudar?</p>
    </div>
    <img
      src="https://static.vecteezy.com/system/resources/previews/002/097/660/non_2x/missing-person-announcement-flyer-hanging-on-a-brick-wall-flat-illustration-vector.jpg"
      style="opacity: 0.4; height: 100%; width: auto;">
  </div>



  <div style="height: 400px; display: flex; align-items: center; justify-content: space-around;">
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="display: flex; flex-direction: column; align-items: center; margin-right: 200px">
        <img
          src="https://static.vecteezy.com/system/resources/previews/010/882/587/non_2x/woman-avatar-person-female-illustration-icon-character-face-portrait-woman-avatar-cartoon-girl-user-human-profile-isolated-white-adult-icon-office-headshot-employee-face-head-clipart-vector.jpg"
          alt="" style="height: 100px; borderRadius: 50%" />
        <p style="font-weight: bold; margin-top: 15px">Testimonio 1</p>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center; margin-right: 200px">
        <img
          src="https://us.123rf.com/450wm/grgroup/grgroup1611/grgroup161100209/64916918-avatar-mujer-femenina-dibujo-animado-que-lleva-traje-y-corbata-roja-sobre-fondo-blanco-ilustraci%C3%B3n.jpg?ver=6"
          alt="" style="height: 100px; borderRadius: 50%" />
        <p style="font-weight: bold; margin-top: 15px">Testimonio 2</p>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="https://us.123rf.com/450wm/grgroup/grgroup1608/grgroup160802688/61972762-mujer-de-avatar-femenino-icono-de-la-persona-humana-dise%C3%B1o-colorido-y-plana-ilustraci%C3%B3n.jpg?ver=6"
          alt="" style="height: 100px; borderRadius: 50%" />
        <p style="font-weight: bold; margin-top: 15px">Testimonio 3</p>
      </div>
    </div>
  </div>

  <hr>

  <div class="container" style="height: 500px;">
    <div style="display: flex; align-items: center; margin-bottom: 2rem">
      <img src="https://thumbs.dreamstime.com/b/grupo-de-ejecutivos-jovenes-que-presentan-para-la-imagen-55765333.jpg"
        alt="Imagen Ejecutivos" style="width: 50%; height: auto" />
      <div style="padding: 2rem">
        <p style="font-weight:  bold; font-size: 1.5rem; margin-bottom: 1rem">
          Somos una organización conformada por profesionales íntegros que están
          dispuestos e involucrados con cada caso de desaparición en el Perú y el
          mundo.
        </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="footer-info">
        <h3>Reconectando</h3>
        <p>Sitio web para la búsqueda de personas desaparecidas.</p>
      </div>
      <div class="footer-contact">
        <h3>Contacto</h3>
        <ul>
          <li><i class="fa fa-envelope"></i> reconectando@ejemplo.com</li>
          <li><i class="fa fa-phone"></i> +1 123 456 7890</li>
          <li><i class="fa fa-map-marker"></i> 123 Calle Carlos Gonzales, Ciudad Lima</li>
        </ul>
      </div>
      <div class="footer-social">
        <h3>Redes Sociales</h3>
        <ul>
          <li><a href="#"><i class="fa-brands fa-facebook fa-xl" style="color: #000000;"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-twitter fa-xl" style="color: #000000;"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Todos los derechos reservados &copy; 2023 Reconectando</p>
    </div>
  </footer>
</body>

</html>
